.header {
    /* margin: auto;
    text-align: center; */
    border-bottom: #040306 solid;
    border-bottom-width: 2px;
    background-color: #040306;
    width: 100%;
}

.flex-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    text-align: center;
}

.name {
    color: white;
    font-family: sans-serif;
}

.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -2.5px;
    background-color: #040306;
}
  
.nav-option {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    text-align: center;
    color: grey;
    font-family: sans-serif;
}
  
.active {
    color: white;
    border-bottom: #1DB954 solid;
    border-bottom-width: 2px;
    z-index: 99
}

.form {
    padding: 20px;
    background-color: #181818;
}

.form-items {
    justify-content: center;
    align-items: center;
    display: flex;
}

.profile-photo {
    height: 200px;
    width: 200px;
    border-radius: 15px;
    margin-right: 8px;
}

.profile-main {
    width: 100%;
    overflow: hidden;
}

.profile-container {
    display: flex;
    width: 200%;
    overflow: hidden;
}

.edit-profile {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.view-profile {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.slide-left {
    transform: translateX(-100%);
}

.slide-right {
    transform: translateX(0%);
}